.sh-player-cover-container {
  background: $header-color-bg;
  color: $header-color;
}

.sh-title-container {
  padding: 0 $content-spacing-side;

  .sh-title {
    font: inherit;
    font-weight: bold;
    color: inherit;
    display: block;
    margin: 0;
    padding: ($content-spacing-side) 0 0;
    font-size: 1.2em;

  }

  .sh-title-tracks {
    display: block;
    padding-bottom: ($content-spacing-side / 2);
  }

}

.sh-player {

  margin-bottom: 2rem;

  &-player-container {

    border: 1px solid $playlist-border-color;
    border-top: none;
    border-bottom: none;
    min-height: $player-height + (2 * $playlist-item-height);

    audio, .mejs-mediaelement, .mejs-volume-button, .mejs-horizontal-volume-slider {
      display: none!important;
    }

    .mejs-container {
      background: $player-bg-color;

      .mejs-controls {
        position: absolute;
        width: auto;
        left: -1px;
        right: -1px;
        background: $player-bg-color!important;
      }
    }

    .wp-playlist {
      margin: 0;
      padding: 0;
      background: $playlist-bg-color !important;
    }

    .wp-playlist-tracks {
      padding: 0 $content-spacing-side;
      max-height: 2*$playlist-item-height;
      min-height: 2*$playlist-item-height;
      overflow: hidden;
      transition: max-height .35s ease;

      .wp-playlist-item {
        padding: ($content-spacing-side/2) 0;
        border-bottom: 1px solid $playlist-border-color;
        height: $playlist-item-height;
      }

      .wp-playlist-playing {
        font-weight: bold;
      }

      .wp-playlist-item-length {
        display: none;
      }

    }

    .wp-playlist-current-item {
      display: none;
    }

    .mejs-container {
      &.mejs-audio {
        min-width: auto !important;
        width: 100% !important;
        border-radius: 0;
      }
    }
  }


  &__view-more {
    display: block;
    padding: $content-spacing-side;
    text-align: center;
    color: $header-color;
    background: $player-bg-color;
    transition: background-color .2s ease;
    cursor: pointer;
    position: relative;
    top: -1px;

    &:hover {
      background: lighten($player-bg-color, 15%);
    }

  }

}



.avia-playlist-hide-cover .wp-playlist-current-item{
  height:auto;
}

#top .avia-playlist-custom-background-color .wp-playlist{ background: transparent; }
#top .avia-playlist-custom-font-color *{ color:inherit; }
#top .avia-playlist-custom-font-color .wp-playlist-item > *{ opacity: 0.8; }
#top .avia-playlist-custom-font-color .wp-playlist-item.wp-playlist-playing > *{ opacity: 1; }

#top .avia-playlist-custom-border-color .wp-playlist{ border: none; }
#top .avia-playlist-custom-border-color{border-width:1px; border-style:solid;}

#top .avia-playerstyle-minimal .wp-playlist{
  padding:0;
  border-color:transparent;
  background: transparent;
}

#top .avia-playerstyle-minimal .wp-playlist .wp-playlist-item{
  border-color:transparent;
}

#top .avia-playerstyle-minimal.avia-playlist-custom-background-color .wp-playlist{
  padding:10px;
}

#top .sh-player-container.sh-player-hide-playlist .wp-playlist-tracks{
  display: none;
}