.sh-player-cover-container {
  background: $header-color-bg;
  color: $header-color;
  border-bottom: 2px solid $white;
}

.sh-title-container {
  padding: 0 $content-spacing-side;

  .sh-title {
    font: inherit;
    font-weight: bold;
    font-size: 34px;
    line-height: 34px;
    color: inherit;
    display: block;
    margin: 0;
    padding: ($content-spacing-side) 0 0;

  }

  .sh-title-tracks {
    display: block;
    padding-bottom: ($content-spacing-side * 0.5);
    font-size: $standard-fontsize;
  }

}

.sh-player {

  margin-bottom: 2rem;

  &-player-container {

    border-left: 1px solid $playlist-border-color!important;
    border-right: 1px solid $playlist-border-color!important;

    border-top: none;
    border-bottom: none;
    border-bottom: none;

    min-height: $player-height + (2 * $playlist-item-height);

    &--collapsable {
      .wp-playlist-tracks {
        border-bottom: none!important;
      }
    }

    audio, .mejs-mediaelement, .mejs-volume-button, .mejs-horizontal-volume-slider {
      display: none!important;
    }

    .wp-playlist { border: none; }

    .mejs-time {
      font-size: $standard-fontsize;
      font-weight: 400;
    }

    .mejs-container {
      background: $player-bg-color;

      .mejs-controls {
        position: absolute;
        width: auto;
        left: -1px;
        right: -1px;
        background: $player-bg-color!important;
        padding: 0;

        .mejs-time {
          padding-right: $content-spacing-side;
        }

        .mejs-playpause-button {
          padding-left: $content-spacing-side * 0.5;
        }

      }
    }

    .wp-playlist {
      margin: 0;
      padding: 0;
      background: $playlist-bg-color !important;
    }

    .wp-playlist-tracks {
      margin: 0;
      padding: 0 $content-spacing-side;
      max-height: 2*$playlist-item-height;
      min-height: 2*$playlist-item-height;
      border-bottom: 1px solid $playlist-border-color;
      overflow: hidden;
      transition: max-height .35s ease;

      .wp-playlist-item {
        display: flex;
        justify-content: space-between;
        padding: ($content-spacing-side * 0.5) 0;
        border-bottom: 1px solid $playlist-border-color;
        height: $playlist-item-height;
        line-height: $playlist-item-content-height;
        font-size: $standard-fontsize;

        &:last-child {
          border-bottom-color: transparent;
        }

        .wp-playlist-caption {
          white-space: nowrap;
          width: calc(100% - 70px);
          overflow: hidden;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            right: 0;
            width: 15px;
            height: 100%;
            background: linear-gradient(90deg, rgba(0,0,0,0) 0%, $playlist-bg-color 100%);
          }

        }

      }

      .wp-playlist-playing {
        font-weight: bold;
        background: transparent;
      }

      .wp-playlist-item-length {
        display: none;
      }

    }

    .wp-playlist-current-item {
      display: none;
    }

    .mejs-container {
      &.mejs-audio {
        min-width: auto !important;
        width: 100% !important;
        border-radius: 0;
        max-height: 30px;
      }
    }
  }

  &__view-more {
    display: block;
    padding: $view-more-padding;
    text-align: center;
    font-size: $view-more-font-size;
    line-height: $view-more-line-height;
    color: $header-color;
    background: $view-more-bg-color;
    transition: background-color .2s ease;
    cursor: pointer;
    position: relative;
    top: -1px;

    &:hover {
      background: lighten($view-more-bg-color, 15%);
    }
  }

  &__buttons {
    white-space: nowrap;
  }

  &__icon-wrap {

    display: inline-block;
    margin: 0 0 0 7px;
    position: relative;

    &:before {
      content: '';
      opacity: 0;
      transition: opacity .2s ease;
    }

    &:hover {
      &:before {
        content: attr(data-tooltip);
        display: inline-block;
        background: $white;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
        padding: 3px 5px;
        border-radius: 4px;
        position: absolute;
        top: -2px;
        right: 29px;
        font-size: 12px;
        line-height: 15px;
        z-index: 5;
        color: $gray-1;
        opacity: 1;
      }
    }
  }
}